@{
    ViewBag.Title = "主页";
  var searcher=  (Talks.Model.Searcher.ProductSearcher)ViewBag.Searcher;
}


<input type="hidden" class="curNavUrl"
    value='/home/index' />
<style type="text/css">
    #scheme > .form-group {
        margin-top: 10px;
        margin-right: 20px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline" id="scheme" method="get"
            action="/home/list">
            @*<div class="form-group">
                <label class="control-label">xxxx：</label>
                <input type="text"
                    placeholder="请点击选择" name="start" id="start" readonly="readonly" value=""
                    class="input-inline form-control input-sm Wdate1 curhand"
                    onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',readOnly:true,   maxDate:'#F{$dp.$D(\'endCreateTime\')||\'2020-10-01 00:00\'}' })"
                    size="20" />
                至
                    <input type="text" placeholder="请点击选择"
                        name="end" id="end" readonly="readonly" value=""
                        class=" input-inline form-control input-sm Wdate1 curhand"
                        onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',readOnly:true,  minDate:'%y-%M-{%d}'&&'#F{$dp.$D(\'startCreateTime\')}'  })"
                        size="20" />
            </div>*@
           
            <div class="form-group">
                <label class="control-label">名称：</label>
                <input type="text"
                       class=" input-inline form-control input-sm" name="Name"
                       size="13" value='@searcher.Name' />
            </div>
            <div class="form-group">
                <label class="control-label">公司：</label>
                <input type="text"
                       class=" input-inline form-control input-sm" name="Company"
                       size="13" value='@searcher.Company' />
            </div>
            <div class="form-group">
                <label class="control-label">分类：</label>
                <input type="text"
                       class=" input-inline form-control input-sm" name="Category"
                       size="13" value='@searcher.Category' />
            </div>
            <div class="form-group">
                <label class="control-label">描述：</label>
                <input type="text"
                       class=" input-inline form-control input-sm" name="Description"
                       size="13" value='@searcher.Description' />
            </div>
            @*<div class="form-group">
                <label class="control-label">类型： </label>
                <select name="type"
                    id="type" style="width: 100px"
                    class=" input-inline form-control input-sm">
                    <option value="">--全部--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>*@

            <div class="form-group">
                <button type="submit" class="btn btn-primary " value="">
                    <span class="glyphicon glyphicon-search"></span>查 询
                </button>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-primary  "><span
                    class="glyphicon glyphicon-plus"></span>添加
                </a>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-warning  "><span
                    class="glyphicon glyphicon-trash"></span>删除
                </a>
            </div>
        </form>
    </div>
    <table
        class="table table-bordered table-hover table-striped table-condensed">

        <thead class="text-center">
            <tr>
              
                <th style="" class="text-center">编号</th>
                <th style="width: 60px" class="text-center">名称</th>
                <th style="width: 120px" class="text-center">添加时间</th>
                <th style="width: 150px" class="text-center">分类</th>
                <th style="width: 150px" class="text-center">公司</th>
                <th style="width: 75px" class="text-center">价格</th>
                <th style="width: 200px" class="text-center">描述</th>
               
                <th style="" class="text-center">操作</th>
            </tr>
        </thead>
        <tbody class="listContainer">
            @if (ViewBag.PageInfo != null && ViewBag.PageInfo.DataList != null)
            {
                var list = (List<Talks.Model.Product>)ViewBag.PageInfo.DataList;
                foreach (var item in list)
                {
                <tr class="item">
                    <td><a href="/edit/@item.ProductID">@item.Name</a></td>
                    <td class="text-center">@item.AddTime.ToString("yyyy-MM-dd hh:mm:ss")</td>
                    <td class="text-center">@item.Category</td>
                    <td class="text-center">@item.Company</td>
                    <td class="text-center">@item.Price</td>
                    <td class="text-center">@item.Description</td>
                  
                    <td><a href="/edit/@item.ProductID">编辑</a> <a href="javascript:void(0)">审核</a> <a href="#">删除</a></td>
                </tr>
                }
            }


            <tr class="item emptyShow">
                <td colspan="8" class="text-center" style="color: red">暂无数据可显示</td>
            </tr>

        </tbody>
        <tfoot></tfoot>
    </table>

    @{  Html.RenderPartial("_inc_pagination"); }
</div>
